#main-content {
  text-align: center;
}

#results {
  text-align: left;
  padding-left: 1em;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin-bottom: 0;
}

.delete {
  display: inline-block;
}