.App {
  text-align: center;
}

#app-container {
  width: 600px;
  border: solid black 5px;
  margin: auto;
  padding: 1em;
  text-align: center;
}

#search-container {
    width: 550px;
    border: solid black 5px;
    margin: auto;
    padding: 1em;
    margin-bottom: 1em;
}

#results-container {
  width: 550px;
  border: solid black 5px;
  margin: auto;
  padding: 1em;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

